extends layout

block content
  //- Search form and buttons row
  block content
  h2 Book List
  div.search-bar(style="margin-top:20px; margin-bottom:10px;")
    form(method="GET", action="/books")
      input(type="text", name="search", placeholder="Search books...", value=search)
      input(type="submit", value="Search")

  h2 Book List
  if books && books.length
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
          th Actions
      tbody
        each book in books
          tr
            td #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.year}
            td
              a.button(href=`/books/${book.id}`) Edit
              form(method="POST", action=`/books/${book.id}/delete`, style="display:inline")
                input(type="submit", value="Delete")
  else
    p No books found.

  //- Pagination
  if totalPages && totalPages > 1
  nav.pagination
    a.button(href=`/books?search=${search}&page=${currentPage - 1}`, class=(currentPage === 1 ? 'disabled' : '')) Prev
    | Page #{currentPage} of #{totalPages} 
    a.button(href=`/books?search=${search}&page=${currentPage + 1}`, class=(currentPage === totalPages ? 'disabled' : '')) Next

