extends layout

block content
  //- Search bar with spacing
  div.search-bar(style="margin: 20px 0;")
    form(method="GET", action="/books")
      input(type="text", name="search", placeholder="Search books...", value=search)
      input(type="submit", value="Search")
    h2 Book List

  //- Book table
  if books.length
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year
          th(style="text-align: right;") Actions
      tbody
        each book in books
          tr
            td #{book.title}
            td #{book.author}
            td #{book.genre}
            td #{book.year}
            td.actions-cell
              //- Wrap buttons in a flex container
              div(style="display: flex; gap: 10px;")
                a.button(href=`/books/${book.id}`) Edit
                form(method="POST", action=`/books/${book.id}/delete`)
                  input.button(type="submit", value="Delete")
  else
    p No books yet.

  //- Pagination
  if totalPages && totalPages > 1
    nav.pagination(style="margin-top: 20px;")
      a.button(href=`/books?search=${search}&page=${currentPage - 1}`, class=(currentPage === 1 ? 'disabled' : '')) Prev
      span(style="margin: 0 10px;") Page #{currentPage} of #{totalPages}
      a.button(href=`/books?search=${search}&page=${currentPage + 1}`, class=(currentPage === totalPages ? 'disabled' : '')) Next
