extends layout

block content
  //- Search bar with spacing
  div.search-bar(style="margin: 20px 0;")
    form(method="GET", action="/books")
      input(type="text", name="search", placeholder="Search books...", value=search)
      input(type="submit", value="Search")
    h2 Book List

  //- Book table
  if books.length
    div.table-wrapper(style="display: flex; justify-content: center;")
      table(style="width: 100%;")
        thead
          tr
            th(style="width: 50%;") Title
            th(style="width: 20%;") Author
            th(style="width: 20%;") Genre
            th(style="width: 10%;") Year
        tbody
          each book in books
            tr
              td
                a(href=`/books/${book.id}`, style="color: green; text-decoration: none;") #{book.title}
              td #{book.author}
              td #{book.genre}
              td #{book.year}
  else
    p No books yet.

  //- Pagination
  if totalPages && totalPages > 1
    nav.pagination(style="margin-top: 20px;")
      a.button(href=`/books?search=${search}&page=${currentPage - 1}`, class=(currentPage === 1 ? 'disabled' : '')) Prev
      span(style="margin: 0 10px;") Page #{currentPage} of #{totalPages}
      a.button(href=`/books?search=${search}&page=${currentPage + 1}`, class=(currentPage === totalPages ? 'disabled' : '')) Next
