extends layout

block content
  h2 Add a New Book

  if errors
    h2.error Oooops!
    ul
      each error in errors
        li.error #{error.message}

  form(method="POST", action="/books/new")
    label(for="title") Title:
    input(type="text", name="title", id="title", value=book.title || '')

    br

    label(for="author") Author:
    input(type="text", name="author", id="author", value=book.author || '')

    br

    label(for="genre") Genre:
    input(type="text", name="genre", id="genre", value=book.genre || '')

    br

    label(for="year") Year:
    input(type="text", name="year", id="year", value=book.year || '')

    br

    input(type="submit", value="Create Book")

    br

    a.button(href="/books") Cancel
