extends layout

block content
  h2 Edit Book
  if errors
    h2.error Oooops!
    ul
      each error in errors
        li.error #{error.message}

  form(method="POST", action=`/books/${book.id}`)
    label(for="title") Title:
    input(type="text", name="title", id="title", value=book.title || '')

    br

    label(for="author") Author:
    input(type="text", name="author", id="author", value=book.author || '')

    br

    label(for="genre") Genre:
    input(type="text", name="genre", id="genre", value=book.genre || '')

    br

    label(for="year") Year:
    input(type="text", name="year", id="year", value=book.year || '')

    br

    //- Buttons aligned consistently
    div.button-group
      input(type="submit", value="Update Book", style="margin-bottom: 0;")
      a.button(href="/books") Cancel
      form(method="POST", action=`/books/${book.id}/delete`, style="display:inline")
        input.button(type="submit", value="Delete Book")
